*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

header{
    background: rgb(230, 255, 3);
    padding: 20px;
    text-align: center;    
}

header h1 {
    margin-bottom: 10px;
}

header-active{
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 100;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.skills, .projects, .Certificates {
    display: flex;
    flex-wrap: wrap;
}

.skill, .project, .Certificate {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(30% - 20px);
}

.project-image , .Certificate-image{
    width: 300px;
    align-items: end;
}

footer {
    text-align: center;
    padding: 10px;
    background: lightgray;
}

.socials a {
    margin: 0 10px;
}